/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../.rvm/gems/ruby-1.9.2-p290@moxie/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../../.rvm/gems/ruby-1.9.2-p290@moxie/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../../.rvm/gems/ruby-1.9.2-p290@moxie/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../../.rvm/gems/ruby-1.9.2-p290@moxie/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../../.rvm/gems/ruby-1.9.2-p290@moxie/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../../.rvm/gems/ruby-1.9.2-p290@moxie/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../../.rvm/gems/ruby-1.9.2-p290@moxie/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../../.rvm/gems/ruby-1.9.2-p290@moxie/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../../../.rvm/gems/ruby-1.9.2-p290@moxie/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 53, ../../../../../../.rvm/gems/ruby-1.9.2-p290@moxie/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
body {
  font-size: 100%;
  line-height: 1.5em;
}

/* line 57, ../../../../../../.rvm/gems/ruby-1.9.2-p290@moxie/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
html > body {
  font-size: 16px;
}

/* line 10, ../../app/stylesheets/screen.scss */
html, body {
  color: #333333;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #aaaaaa;
}
/* line 15, ../../app/stylesheets/screen.scss */
html h1, html h2, html h3, html h4, html h5, html h6, body h1, body h2, body h3, body h4, body h5, body h6 {
  font-family: "Paytone One", sans-serif;
  text-transform: uppercase;
}
/* line 20, ../../app/stylesheets/screen.scss */
html a, body a {
  text-decoration: none;
  color: #dc0000;
}

/* line 27, ../../app/stylesheets/screen.scss */
header {
  margin: 0 auto;
  width: 700px;
}
/* line 30, ../../app/stylesheets/screen.scss */
header h1 {
  font-size: 170px;
  line-height: 170px;
  padding-bottom: 29px;
  text-align: center;
  text-shadow: #dddddd 1px 1px 0, #dddddd 2px 2px 0, #dddddd 3px 3px 0, #dddddd 4px 4px 0, #dddddd 5px 5px 0, #dddddd 6px 6px 0, #dddddd 7px 7px 0, #dddddd 8px 8px 0;
  letter-spacing: 22px;
  -moz-transition-property: all;
  -webkit-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -moz-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
/* line 49, ../../app/stylesheets/screen.scss */
header h1 a {
  color: #333333;
  display: block;
  width: 100%;
  text-decoration: none;
  background-color: transparent;
}
/* line 57, ../../app/stylesheets/screen.scss */
header h1:hover {
  text-shadow: #dc0000 1px 1px 0, #dc0000 2px 2px 0, #dc0000 3px 3px 0, #dc0000 4px 4px 0, #dc0000 5px 5px 0, #dc0000 6px 6px 0, #dc0000 7px 7px 0, #dc0000 8px 8px 0;
  letter-spacing: 12px;
  -moz-transition-property: all;
  -webkit-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -moz-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}

/* line 77, ../../app/stylesheets/screen.scss */
#container {
  margin: 0 auto;
  width: 700px;
  -webkit-border-radius: 2px 2px;
  -moz-border-radius: 2px / 2px;
  -o-border-radius: 2px / 2px;
  -ms-border-radius: 2px / 2px;
  -khtml-border-radius: 2px / 2px;
  border-radius: 2px / 2px;
  background-color: #FFF;
  margin-bottom: 25px;
}
/* line 83, ../../app/stylesheets/screen.scss */
#container .content {
  padding: 25px;
}
/* line 89, ../../app/stylesheets/screen.scss */
#container .post .sidebar {
  font-size: 14px;
  color: #737373;
  text-align: right;
}
/* line 94, ../../app/stylesheets/screen.scss */
#container .post .sidebar p {
  margin-top: 25px;
}
/* line 97, ../../app/stylesheets/screen.scss */
#container .post .sidebar p:first-child {
  margin-top: 0;
}
/* line 101, ../../app/stylesheets/screen.scss */
#container .post .sidebar p strong {
  display: block;
  font-weight: 900;
}
/* line 106, ../../app/stylesheets/screen.scss */
#container .post .sidebar p em {
  font-size: 13px;
}
/* line 114, ../../app/stylesheets/screen.scss */
#container .post .content {
  padding-bottom: 35px;
}
/* line 117, ../../app/stylesheets/screen.scss */
#container .post .content h1 {
  font-size: 40px;
  line-height: 45px;
  margin-top: -5px;
  width: 80%;
  text-shadow: white 1px 1px 0, #dddddd 3px 3px 0;
}
/* line 129, ../../app/stylesheets/screen.scss */
#container .comments {
  background-color: #dddddd;
}
/* line 132, ../../app/stylesheets/screen.scss */
#container .comments h3 {
  background-color: #333333;
  color: #FFF;
  padding: 10px 20px;
  font-size: 20px;
}
/* line 139, ../../app/stylesheets/screen.scss */
#container .comments .comment {
  border-top: 1px solid #c4c4c4;
}
/* line 142, ../../app/stylesheets/screen.scss */
#container .comments .comment:hover {
  background-color: #eaeaea;
}
/* line 146, ../../app/stylesheets/screen.scss */
#container .comments .comment.moderator {
  border-left: 4px solid #dc0000;
}
/* line 150, ../../app/stylesheets/screen.scss */
#container .comments .comment .sidebar {
  color: #666;
  text-align: right;
}
/* line 154, ../../app/stylesheets/screen.scss */
#container .comments .comment .sidebar strong {
  font-weight: 900;
  color: #444;
  display: block;
  font-size: 14px;
}
/* line 161, ../../app/stylesheets/screen.scss */
#container .comments .comment .sidebar em {
  font-size: 12px;
}
/* line 171, ../../app/stylesheets/screen.scss */
#container .content-sidebar {
  overflow: hidden;
  *zoom: 1;
}
/* line 174, ../../app/stylesheets/screen.scss */
#container .content-sidebar .sidebar {
  display: inline;
  float: left;
  width: 150px;
  padding: 25px;
}
/* line 180, ../../app/stylesheets/screen.scss */
#container .content-sidebar .content {
  display: inline;
  float: left;
  width: 445px;
}
/* line 184, ../../app/stylesheets/screen.scss */
#container .content-sidebar .content p {
  margin-top: 25px;
}
/* line 187, ../../app/stylesheets/screen.scss */
#container .content-sidebar .content p:first-child {
  margin-top: 0;
}
/* line 193, ../../app/stylesheets/screen.scss */
#container .content-sidebar .content img {
  border: 1px solid #dddddd;
  padding: 10px;
  margin-top: 25px;
}
/* line 198, ../../app/stylesheets/screen.scss */
#container .content-sidebar .content img:first-child {
  margin-top: 0;
}
