/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../.rvm/gems/ruby-1.9.2-p290@moxie/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../../.rvm/gems/ruby-1.9.2-p290@moxie/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../../.rvm/gems/ruby-1.9.2-p290@moxie/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../../.rvm/gems/ruby-1.9.2-p290@moxie/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../../.rvm/gems/ruby-1.9.2-p290@moxie/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../../.rvm/gems/ruby-1.9.2-p290@moxie/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../../.rvm/gems/ruby-1.9.2-p290@moxie/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../../.rvm/gems/ruby-1.9.2-p290@moxie/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../../../.rvm/gems/ruby-1.9.2-p290@moxie/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 53, ../../../../../../.rvm/gems/ruby-1.9.2-p290@moxie/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
body {
  font-size: 100%;
  line-height: 1.5em;
}

/* line 57, ../../../../../../.rvm/gems/ruby-1.9.2-p290@moxie/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
html > body {
  font-size: 16px;
}

/* line 10, ../../app/stylesheets/screen.scss */
html, body {
  color: #333333;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #aaaaaa;
}
/* line 15, ../../app/stylesheets/screen.scss */
html h1, html h2, html h3, html h4, html h5, html h6, body h1, body h2, body h3, body h4, body h5, body h6 {
  font-family: "Paytone One", sans-serif;
  text-transform: uppercase;
}
/* line 20, ../../app/stylesheets/screen.scss */
html a, body a {
  text-decoration: none;
  color: #dc0000;
}
/* line 25, ../../app/stylesheets/screen.scss */
html b, body b {
  font-weight: 900;
}
/* line 29, ../../app/stylesheets/screen.scss */
html i, body i {
  font-style: italic;
}

/* line 35, ../../app/stylesheets/screen.scss */
header {
  margin: 0 auto;
  width: 700px;
  position: fixed;
  left: 50%;
  margin-left: -350px;
  z-index: 1;
}
/* line 42, ../../app/stylesheets/screen.scss */
header h1 {
  font-size: 170px;
  line-height: 170px;
  padding-bottom: 29px;
  text-align: center;
  text-shadow: #dddddd 1px 1px 0, #dddddd 2px 2px 0, #dddddd 3px 3px 0, #dddddd 4px 4px 0, #dddddd 5px 5px 0, #dddddd 6px 6px 0, #dddddd 7px 7px 0, #dddddd 8px 8px 0;
  letter-spacing: 22px;
  -moz-transition-property: all;
  -webkit-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -moz-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
/* line 61, ../../app/stylesheets/screen.scss */
header h1 a {
  color: #333333;
  display: block;
  width: 100%;
  text-decoration: none;
  background-color: transparent;
}
/* line 69, ../../app/stylesheets/screen.scss */
header h1:hover {
  text-shadow: #dc0000 1px 1px 0, #dc0000 2px 2px 0, #dc0000 3px 3px 0, #dc0000 4px 4px 0, #dc0000 5px 5px 0, #dc0000 6px 6px 0, #dc0000 7px 7px 0, #dc0000 8px 8px 0;
  letter-spacing: 12px;
  -moz-transition-property: all;
  -webkit-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -moz-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
/* line 87, ../../app/stylesheets/screen.scss */
header nav {
  font-family: "Paytone One", sans-serif;
  text-transform: uppercase;
  text-align: right;
  padding-right: 25px;
}
/* line 93, ../../app/stylesheets/screen.scss */
header nav a {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  padding: 7px 10px 6px;
  margin: 0 5px;
}
/* line 7, ../../../../../../.rvm/gems/ruby-1.9.2-p290@moxie/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
header nav a {
  *display: inline;
}
/* line 98, ../../app/stylesheets/screen.scss */
header nav a:hover {
  color: #FFF;
  background-color: #333333;
  -moz-border-radius-topleft: 2px;
  -webkit-border-top-left-radius: 2px;
  -o-border-top-left-radius: 2px;
  -ms-border-top-left-radius: 2px;
  -khtml-border-top-left-radius: 2px;
  border-top-left-radius: 2px;
  -moz-border-radius-topright: 2px;
  -webkit-border-top-right-radius: 2px;
  -o-border-top-right-radius: 2px;
  -ms-border-top-right-radius: 2px;
  -khtml-border-top-right-radius: 2px;
  border-top-right-radius: 2px;
}

/* line 113, ../../app/stylesheets/screen.scss */
#posts-body #posts-nav,
#categories-body #posts-nav,
#phlogs-body #phlogs-nav,
#guestbooks-body #guestbook-nav {
  color: #FFF;
  background-color: #333333;
  -moz-border-radius-topleft: 2px;
  -webkit-border-top-left-radius: 2px;
  -o-border-top-left-radius: 2px;
  -ms-border-top-left-radius: 2px;
  -khtml-border-top-left-radius: 2px;
  border-top-left-radius: 2px;
  -moz-border-radius-topright: 2px;
  -webkit-border-top-right-radius: 2px;
  -o-border-top-right-radius: 2px;
  -ms-border-top-right-radius: 2px;
  -khtml-border-top-right-radius: 2px;
  border-top-right-radius: 2px;
}

/* line 119, ../../app/stylesheets/screen.scss */
#container {
  margin: 0 auto;
  width: 700px;
  -webkit-border-radius: 2px 2px;
  -moz-border-radius: 2px / 2px;
  -o-border-radius: 2px / 2px;
  -ms-border-radius: 2px / 2px;
  -khtml-border-radius: 2px / 2px;
  border-radius: 2px / 2px;
  background-color: #FFF;
  border: 3px solid #333333;
  border-width: 3px 0;
  position: relative;
  z-index: 2;
  top: 235px;
  margin-bottom: 260px;
}
/* line 130, ../../app/stylesheets/screen.scss */
#container .content {
  padding: 25px;
}
/* line 133, ../../app/stylesheets/screen.scss */
#container .content h1 {
  font-size: 40px;
  line-height: 45px;
  text-shadow: #dddddd 1px 1px 0, #dddddd 2px 2px 0, #dddddd 3px 3px 0;
}
/* line 142, ../../app/stylesheets/screen.scss */
#container .content p {
  margin-top: 25px;
}
/* line 145, ../../app/stylesheets/screen.scss */
#container .content p:first-child {
  margin-top: 0;
}
/* line 155, ../../app/stylesheets/screen.scss */
#container .post .sidebar {
  font-size: 14px;
  color: #737373;
  text-align: right;
}
/* line 160, ../../app/stylesheets/screen.scss */
#container .post .sidebar p {
  margin-top: 25px;
}
/* line 163, ../../app/stylesheets/screen.scss */
#container .post .sidebar p:first-child {
  margin-top: 0;
}
/* line 167, ../../app/stylesheets/screen.scss */
#container .post .sidebar p strong {
  display: block;
  font-weight: 900;
}
/* line 172, ../../app/stylesheets/screen.scss */
#container .post .sidebar p em {
  font-size: 13px;
}
/* line 180, ../../app/stylesheets/screen.scss */
#container .post .content {
  padding-bottom: 35px;
}
/* line 183, ../../app/stylesheets/screen.scss */
#container .post .content h1 {
  width: 80%;
}
/* line 191, ../../app/stylesheets/screen.scss */
#container .comments {
  background-color: #dddddd;
}
/* line 194, ../../app/stylesheets/screen.scss */
#container .comments h3 {
  background-color: #333333;
  color: #FFF;
  padding: 10px 20px;
  font-size: 20px;
}
/* line 201, ../../app/stylesheets/screen.scss */
#container .comments .comment {
  border-top: 1px solid #c4c4c4;
}
/* line 204, ../../app/stylesheets/screen.scss */
#container .comments .comment:hover {
  background-color: #eaeaea;
}
/* line 208, ../../app/stylesheets/screen.scss */
#container .comments .comment.moderator {
  border-left: 4px solid #dc0000;
}
/* line 212, ../../app/stylesheets/screen.scss */
#container .comments .comment .sidebar {
  color: #666;
  text-align: right;
}
/* line 216, ../../app/stylesheets/screen.scss */
#container .comments .comment .sidebar strong {
  font-weight: 900;
  color: #444;
  display: block;
  font-size: 14px;
}
/* line 223, ../../app/stylesheets/screen.scss */
#container .comments .comment .sidebar em {
  font-size: 12px;
}
/* line 233, ../../app/stylesheets/screen.scss */
#container .content-sidebar {
  overflow: hidden;
  *zoom: 1;
}
/* line 236, ../../app/stylesheets/screen.scss */
#container .content-sidebar .sidebar {
  display: inline;
  float: left;
  width: 150px;
  padding: 25px;
}
/* line 242, ../../app/stylesheets/screen.scss */
#container .content-sidebar .content {
  display: inline;
  float: left;
  width: 445px;
}
/* line 246, ../../app/stylesheets/screen.scss */
#container .content-sidebar .content img {
  border: 1px solid #dddddd;
  padding: 10px;
  margin-top: 25px;
}
/* line 251, ../../app/stylesheets/screen.scss */
#container .content-sidebar .content img:first-child {
  margin-top: 0;
}
/* line 257, ../../app/stylesheets/screen.scss */
#container .content-sidebar .content h1 {
  margin-top: -5px;
}
/* line 265, ../../app/stylesheets/screen.scss */
#container .content-sidebar.post-index .sidebar {
  text-align: right;
}
/* line 268, ../../app/stylesheets/screen.scss */
#container .content-sidebar.post-index .sidebar strong {
  font-weight: 900;
  display: block;
}
/* line 273, ../../app/stylesheets/screen.scss */
#container .content-sidebar.post-index .sidebar em {
  font-size: 14px;
  color: #909090;
  display: block;
}
/* line 281, ../../app/stylesheets/screen.scss */
#container .content-sidebar.post-index .content {
  padding-bottom: 13px;
}
/* line 284, ../../app/stylesheets/screen.scss */
#container .content-sidebar.post-index .content h4 {
  color: #aaaaaa;
}
/* line 289, ../../app/stylesheets/screen.scss */
#container .content-sidebar.post-index .content ul li {
  margin: 12px 0;
  overflow: hidden;
  *zoom: 1;
}
/* line 293, ../../app/stylesheets/screen.scss */
#container .content-sidebar.post-index .content ul li:first-child {
  margin-top: 0;
}
/* line 297, ../../app/stylesheets/screen.scss */
#container .content-sidebar.post-index .content ul li span {
  display: block;
  display: inline;
  float: left;
  background-color: #dddddd;
  font-size: 15px;
  line-height: 15px;
  padding: 6px 5px;
  -webkit-border-radius: 2px 2px;
  -moz-border-radius: 2px / 2px;
  -o-border-radius: 2px / 2px;
  -ms-border-radius: 2px / 2px;
  -khtml-border-radius: 2px / 2px;
  border-radius: 2px / 2px;
}
/* line 307, ../../app/stylesheets/screen.scss */
#container .content-sidebar.post-index .content ul li a {
  display: inline;
  float: right;
  width: 410px;
  font-size: 18px;
  line-height: 24px;
  padding-top: 2px;
}
/* line 320, ../../app/stylesheets/screen.scss */
#container .content-sidebar.post-index:nth-child(2n) {
  background-color: #f7f7f7;
}
/* line 328, ../../app/stylesheets/screen.scss */
#container #phlog-list {
  margin-top: 25px;
}
/* line 331, ../../app/stylesheets/screen.scss */
#container #phlog-list li {
  overflow: hidden;
  *zoom: 1;
  height: 58px;
  overflow: hidden;
  margin: 10px 0;
}
/* line 337, ../../app/stylesheets/screen.scss */
#container #phlog-list li .image-link {
  display: inline;
  float: left;
  width: 180px;
  overflow: hidden;
}
/* line 342, ../../app/stylesheets/screen.scss */
#container #phlog-list li .image-link img {
  width: 200px;
  margin-left: -15px;
}
/* line 349, ../../app/stylesheets/screen.scss */
#container #phlog-list li .meta-link {
  display: inline;
  float: left;
  background-color: #dddddd;
  height: 58px;
  padding: 7px 18px 7px 13px;
}
/* line 355, ../../app/stylesheets/screen.scss */
#container #phlog-list li .meta-link strong {
  font-weight: 900;
  display: block;
}
/* line 360, ../../app/stylesheets/screen.scss */
#container #phlog-list li .meta-link em {
  display: block;
  color: gray;
  font-size: 12px;
  margin-top: -2px;
}
/* line 371, ../../app/stylesheets/screen.scss */
#container #phlog-list li:hover .meta-link {
  background-color: #333333;
  color: #FFF;
}
/* line 382, ../../app/stylesheets/screen.scss */
#container #year-nav {
  background-color: #333333;
  overflow: hidden;
  *zoom: 1;
  padding-left: 10px;
}
/* line 387, ../../app/stylesheets/screen.scss */
#container #year-nav li {
  display: inline;
  float: left;
  font-weight: 900;
  padding: 4px 15px;
  position: relative;
}
/* line 395, ../../app/stylesheets/screen.scss */
#container #year-nav li.active a {
  color: #FFF;
}
/* line 405, ../../app/stylesheets/screen.scss */
#container #year-nav:last-child li {
  padding-top: 6px;
}
/* line 413, ../../app/stylesheets/screen.scss */
#container #month-nav-holder {
  position: relative;
  margin-bottom: 30px;
}
/* line 417, ../../app/stylesheets/screen.scss */
#container #month-nav-holder .month-nav {
  background-color: #dddddd;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
/* line 424, ../../app/stylesheets/screen.scss */
#container #month-nav-holder .month-nav.active {
  display: block;
}
/* line 428, ../../app/stylesheets/screen.scss */
#container #month-nav-holder .month-nav li {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  padding: 4px 10px;
  color: #aaaaaa;
}
/* line 7, ../../../../../../.rvm/gems/ruby-1.9.2-p290@moxie/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
#container #month-nav-holder .month-nav li {
  *display: inline;
}
/* line 433, ../../app/stylesheets/screen.scss */
#container #month-nav-holder .month-nav li:first-child {
  padding-left: 25px;
}
/* line 439, ../../app/stylesheets/screen.scss */
#container #month-nav-holder .month-nav li.active a {
  color: #333333;
}
