/* line 17, ../../../../../../.rvm/gems/ruby-1.9.2-p290@moxie/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../../.rvm/gems/ruby-1.9.2-p290@moxie/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../../.rvm/gems/ruby-1.9.2-p290@moxie/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../../.rvm/gems/ruby-1.9.2-p290@moxie/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../../.rvm/gems/ruby-1.9.2-p290@moxie/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../../.rvm/gems/ruby-1.9.2-p290@moxie/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../../.rvm/gems/ruby-1.9.2-p290@moxie/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../../.rvm/gems/ruby-1.9.2-p290@moxie/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../../../.rvm/gems/ruby-1.9.2-p290@moxie/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 53, ../../../../../../.rvm/gems/ruby-1.9.2-p290@moxie/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
body {
  font-size: 100%;
  line-height: 1.5em;
}

/* line 57, ../../../../../../.rvm/gems/ruby-1.9.2-p290@moxie/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
html > body {
  font-size: 16px;
}

/* line 5, ../../app/stylesheets/screen.scss */
html, body {
  color: #333333;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #aaaaaa;
}
/* line 10, ../../app/stylesheets/screen.scss */
html h1, html h2, html h3, html h4, html h5, html h6, body h1, body h2, body h3, body h4, body h5, body h6 {
  font-family: "Paytone One", sans-serif;
  text-transform: uppercase;
}
/* line 15, ../../app/stylesheets/screen.scss */
html a, body a {
  text-decoration: none;
  color: #dc0000;
}
/* line 19, ../../app/stylesheets/screen.scss */
html a.broken, body a.broken {
  color: #ff4343;
  border-bottom: 1px dotted #ffa9a9;
}
/* line 23, ../../app/stylesheets/screen.scss */
html a.broken:hover, body a.broken:hover {
  text-decoration: none !important;
}
/* line 31, ../../app/stylesheets/screen.scss */
html b, body b {
  font-weight: 900;
}
/* line 35, ../../app/stylesheets/screen.scss */
html i, body i {
  font-style: italic;
}

/* line 41, ../../app/stylesheets/screen.scss */
header {
  margin: 0 auto;
  width: 700px;
  position: fixed;
  left: 50%;
  margin-left: -350px;
  z-index: 1;
}
/* line 48, ../../app/stylesheets/screen.scss */
header h1 {
  font-size: 170px;
  line-height: 170px;
  padding-bottom: 29px;
  text-align: center;
  text-shadow: #dddddd 1px 1px 0, #dddddd 2px 2px 0, #dddddd 3px 3px 0, #dddddd 4px 4px 0, #dddddd 5px 5px 0, #dddddd 6px 6px 0, #dddddd 7px 7px 0, #dddddd 8px 8px 0;
  letter-spacing: 22px;
  -moz-transition-property: all;
  -webkit-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -moz-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
/* line 67, ../../app/stylesheets/screen.scss */
header h1 a {
  color: #333333;
  display: block;
  width: 100%;
  text-decoration: none;
  background-color: transparent;
}
/* line 75, ../../app/stylesheets/screen.scss */
header h1:hover {
  text-shadow: #dc0000 1px 1px 0, #dc0000 2px 2px 0, #dc0000 3px 3px 0, #dc0000 4px 4px 0, #dc0000 5px 5px 0, #dc0000 6px 6px 0, #dc0000 7px 7px 0, #dc0000 8px 8px 0;
  letter-spacing: 12px;
  -moz-transition-property: all;
  -webkit-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -moz-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
/* line 93, ../../app/stylesheets/screen.scss */
header nav {
  font-family: "Paytone One", sans-serif;
  text-transform: uppercase;
  text-align: right;
  padding-right: 25px;
}
/* line 99, ../../app/stylesheets/screen.scss */
header nav a {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  padding: 7px 10px 6px;
  margin: 0 5px;
  color: #333333;
}
/* line 7, ../../../../../../.rvm/gems/ruby-1.9.2-p290@moxie/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
header nav a {
  *display: inline;
}
/* line 105, ../../app/stylesheets/screen.scss */
header nav a:hover {
  color: #FFF;
  background-color: #333333;
  -moz-border-radius-topleft: 2px;
  -webkit-border-top-left-radius: 2px;
  -o-border-top-left-radius: 2px;
  -ms-border-top-left-radius: 2px;
  -khtml-border-top-left-radius: 2px;
  border-top-left-radius: 2px;
  -moz-border-radius-topright: 2px;
  -webkit-border-top-right-radius: 2px;
  -o-border-top-right-radius: 2px;
  -ms-border-top-right-radius: 2px;
  -khtml-border-top-right-radius: 2px;
  border-top-right-radius: 2px;
}

/* line 122, ../../app/stylesheets/screen.scss */
#posts-body #posts-nav,
#categories-body #posts-nav,
#phlogs-body #phlogs-nav,
#guestbooks-body #guestbook-nav,
#episodes-body #episode-nav,
#pages-body.about #about-nav {
  color: #FFF;
  background-color: #333333;
  -moz-border-radius-topleft: 2px;
  -webkit-border-top-left-radius: 2px;
  -o-border-top-left-radius: 2px;
  -ms-border-top-left-radius: 2px;
  -khtml-border-top-left-radius: 2px;
  border-top-left-radius: 2px;
  -moz-border-radius-topright: 2px;
  -webkit-border-top-right-radius: 2px;
  -o-border-top-right-radius: 2px;
  -ms-border-top-right-radius: 2px;
  -khtml-border-top-right-radius: 2px;
  border-top-right-radius: 2px;
}

/* line 128, ../../app/stylesheets/screen.scss */
#container {
  margin: 0 auto;
  width: 700px;
  -webkit-border-radius: 2px 2px;
  -moz-border-radius: 2px / 2px;
  -o-border-radius: 2px / 2px;
  -ms-border-radius: 2px / 2px;
  -khtml-border-radius: 2px / 2px;
  border-radius: 2px / 2px;
  background-color: #FFF;
  border: 3px solid #333333;
  border-width: 3px 0;
  position: relative;
  z-index: 2;
  top: 235px;
  margin-bottom: 260px;
}
/* line 139, ../../app/stylesheets/screen.scss */
#container .content {
  padding: 25px;
}
/* line 144, ../../app/stylesheets/screen.scss */
#container .content a:hover {
  text-decoration: underline;
}
/* line 150, ../../app/stylesheets/screen.scss */
#container .content h1 {
  font-size: 40px;
  line-height: 45px;
  margin: 25px 0;
  text-shadow: #dddddd 1px 1px 0, #dddddd 2px 2px 0, #dddddd 3px 3px 0;
}
/* line 159, ../../app/stylesheets/screen.scss */
#container .content h1:first-child {
  margin-top: 0;
}
/* line 165, ../../app/stylesheets/screen.scss */
#container .content p {
  margin-top: 25px;
}
/* line 168, ../../app/stylesheets/screen.scss */
#container .content p:first-child {
  margin-top: 0;
}
/* line 174, ../../app/stylesheets/screen.scss */
#container .content ul {
  list-style-type: disc;
}
/* line 178, ../../app/stylesheets/screen.scss */
#container .content ol {
  list-style-type: decimal;
}
/* line 182, ../../app/stylesheets/screen.scss */
#container .content ul, #container .content ol {
  margin-left: 25px;
}
/* line 193, ../../app/stylesheets/screen.scss */
#container .content.solo h1 {
  margin: 0;
}
/* line 199, ../../app/stylesheets/screen.scss */
#container .content.no-bottom {
  padding-bottom: 0;
}
/* line 203, ../../app/stylesheets/screen.scss */
#container .content .moxie-tv-row {
  overflow: hidden;
  *zoom: 1;
  margin-bottom: 25px;
}
/* line 207, ../../app/stylesheets/screen.scss */
#container .content .moxie-tv-row .episode {
  display: inline;
  float: left;
  width: 313px;
  height: 212px;
  position: relative;
  overflow: hidden;
}
/* line 214, ../../app/stylesheets/screen.scss */
#container .content .moxie-tv-row .episode img {
  width: 313px;
}
/* line 218, ../../app/stylesheets/screen.scss */
#container .content .moxie-tv-row .episode:first-child {
  margin-right: 24px;
}
/* line 222, ../../app/stylesheets/screen.scss */
#container .content .moxie-tv-row .episode h4 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.75);
  width: 313px;
  height: 212px;
}
/* line 230, ../../app/stylesheets/screen.scss */
#container .content .moxie-tv-row .episode h4 span {
  display: block;
  font-size: 30px;
  line-height: 35px;
  color: #FFF;
  padding: 25px;
}
/* line 238, ../../app/stylesheets/screen.scss */
#container .content .moxie-tv-row .episode h4 small {
  display: block;
  color: #AAA;
  font-weight: 400;
  padding: 0 25px;
  margin-top: -25px;
}
/* line 250, ../../app/stylesheets/screen.scss */
#container .content .moxie-tv-row .episode:hover h4 {
  display: none;
}
/* line 264, ../../app/stylesheets/screen.scss */
#container .post .sidebar {
  font-size: 14px;
  color: #737373;
  text-align: right;
}
/* line 269, ../../app/stylesheets/screen.scss */
#container .post .sidebar p {
  margin-top: 25px;
}
/* line 272, ../../app/stylesheets/screen.scss */
#container .post .sidebar p:first-child {
  margin-top: 0;
}
/* line 276, ../../app/stylesheets/screen.scss */
#container .post .sidebar p strong {
  display: block;
  color: #333333;
  font-weight: 900;
}
/* line 282, ../../app/stylesheets/screen.scss */
#container .post .sidebar p em {
  font-size: 13px;
}
/* line 288, ../../app/stylesheets/screen.scss */
#container .post .sidebar .credits {
  margin-top: 15px;
}
/* line 291, ../../app/stylesheets/screen.scss */
#container .post .sidebar .credits li {
  margin: 15px 0;
  color: #666666;
}
/* line 295, ../../app/stylesheets/screen.scss */
#container .post .sidebar .credits li b {
  color: #333333;
  display: block;
  width: 100%;
  font-weight: 900;
}
/* line 308, ../../app/stylesheets/screen.scss */
#container .post .content {
  padding-bottom: 35px;
}
/* line 311, ../../app/stylesheets/screen.scss */
#container .post .content h1 {
  width: 80%;
}
/* line 319, ../../app/stylesheets/screen.scss */
#container .comments {
  background-color: #dddddd;
}
/* line 322, ../../app/stylesheets/screen.scss */
#container .comments h3 {
  background-color: #333333;
  color: #FFF;
  padding: 10px 20px;
  font-size: 20px;
}
/* line 329, ../../app/stylesheets/screen.scss */
#container .comments .comment {
  border-top: 1px solid #c4c4c4;
}
/* line 332, ../../app/stylesheets/screen.scss */
#container .comments .comment:hover {
  background-color: #eaeaea;
}
/* line 336, ../../app/stylesheets/screen.scss */
#container .comments .comment.moderator {
  border-left: 4px solid #dc0000;
}
/* line 340, ../../app/stylesheets/screen.scss */
#container .comments .comment .sidebar {
  color: #666;
  text-align: right;
}
/* line 344, ../../app/stylesheets/screen.scss */
#container .comments .comment .sidebar strong {
  font-weight: 900;
  color: #444;
  display: block;
  font-size: 14px;
}
/* line 351, ../../app/stylesheets/screen.scss */
#container .comments .comment .sidebar em {
  font-size: 12px;
}
/* line 361, ../../app/stylesheets/screen.scss */
#container .content-sidebar {
  overflow: hidden;
  *zoom: 1;
}
/* line 364, ../../app/stylesheets/screen.scss */
#container .content-sidebar .sidebar {
  display: inline;
  float: left;
  width: 150px;
  padding: 25px;
}
/* line 370, ../../app/stylesheets/screen.scss */
#container .content-sidebar .content {
  display: inline;
  float: right;
  width: 445px;
}
/* line 374, ../../app/stylesheets/screen.scss */
#container .content-sidebar .content img {
  border: 1px solid #dddddd;
  padding: 10px;
}
/* line 378, ../../app/stylesheets/screen.scss */
#container .content-sidebar .content img:first-child {
  margin-top: 0;
}
/* line 384, ../../app/stylesheets/screen.scss */
#container .content-sidebar .content h1 {
  margin-top: -5px;
}
/* line 392, ../../app/stylesheets/screen.scss */
#container .content-sidebar.post-index .sidebar {
  text-align: right;
}
/* line 395, ../../app/stylesheets/screen.scss */
#container .content-sidebar.post-index .sidebar strong {
  font-weight: 900;
  display: block;
}
/* line 400, ../../app/stylesheets/screen.scss */
#container .content-sidebar.post-index .sidebar em {
  font-size: 14px;
  color: #909090;
  display: block;
}
/* line 408, ../../app/stylesheets/screen.scss */
#container .content-sidebar.post-index .content {
  padding-bottom: 13px;
}
/* line 411, ../../app/stylesheets/screen.scss */
#container .content-sidebar.post-index .content h4 {
  color: #aaaaaa;
}
/* line 415, ../../app/stylesheets/screen.scss */
#container .content-sidebar.post-index .content ul {
  list-style-type: none;
  margin-left: 0;
}
/* line 419, ../../app/stylesheets/screen.scss */
#container .content-sidebar.post-index .content ul li {
  margin: 12px 0;
  overflow: hidden;
  *zoom: 1;
}
/* line 423, ../../app/stylesheets/screen.scss */
#container .content-sidebar.post-index .content ul li:first-child {
  margin-top: 0;
}
/* line 427, ../../app/stylesheets/screen.scss */
#container .content-sidebar.post-index .content ul li span {
  display: block;
  display: inline;
  float: left;
  background-color: #dddddd;
  font-size: 15px;
  line-height: 15px;
  padding: 6px 5px;
  -webkit-border-radius: 2px 2px;
  -moz-border-radius: 2px / 2px;
  -o-border-radius: 2px / 2px;
  -ms-border-radius: 2px / 2px;
  -khtml-border-radius: 2px / 2px;
  border-radius: 2px / 2px;
}
/* line 437, ../../app/stylesheets/screen.scss */
#container .content-sidebar.post-index .content ul li a {
  display: inline;
  float: right;
  width: 410px;
  font-size: 18px;
  line-height: 24px;
  padding-top: 2px;
}
/* line 450, ../../app/stylesheets/screen.scss */
#container .content-sidebar.post-index:nth-child(2n) {
  background-color: #f7f7f7;
}
/* line 458, ../../app/stylesheets/screen.scss */
#container .content-sidebar.phlog-index .sidebar {
  padding-top: 15px;
  padding-bottom: 15px;
}
/* line 462, ../../app/stylesheets/screen.scss */
#container .content-sidebar.phlog-index .sidebar img {
  border: 1px solid #dddddd;
}
/* line 468, ../../app/stylesheets/screen.scss */
#container .content-sidebar.phlog-index .content {
  padding-top: 15px;
  padding-bottom: 15px;
}
/* line 472, ../../app/stylesheets/screen.scss */
#container .content-sidebar.phlog-index .content h3 {
  font-size: 20px;
}
/* line 476, ../../app/stylesheets/screen.scss */
#container .content-sidebar.phlog-index .content em {
  font-size: 14px;
  color: #666666;
}
/* line 483, ../../app/stylesheets/screen.scss */
#container .content-sidebar.phlog-index:nth-child(2n) {
  background-color: #f7f7f7;
}
/* line 491, ../../app/stylesheets/screen.scss */
#container #phlog-list {
  margin-top: 25px;
}
/* line 494, ../../app/stylesheets/screen.scss */
#container #phlog-list li {
  overflow: hidden;
  *zoom: 1;
  height: 58px;
  overflow: hidden;
  margin: 10px 0;
}
/* line 500, ../../app/stylesheets/screen.scss */
#container #phlog-list li .image-link {
  display: inline;
  float: left;
  width: 180px;
  overflow: hidden;
}
/* line 505, ../../app/stylesheets/screen.scss */
#container #phlog-list li .image-link img {
  width: 200px;
  margin-left: -15px;
}
/* line 512, ../../app/stylesheets/screen.scss */
#container #phlog-list li .meta-link {
  display: inline;
  float: left;
  background-color: #dddddd;
  height: 58px;
  padding: 7px 18px 7px 13px;
}
/* line 518, ../../app/stylesheets/screen.scss */
#container #phlog-list li .meta-link strong {
  font-weight: 900;
  display: block;
}
/* line 523, ../../app/stylesheets/screen.scss */
#container #phlog-list li .meta-link em {
  display: block;
  color: gray;
  font-size: 12px;
  margin-top: -2px;
}
/* line 534, ../../app/stylesheets/screen.scss */
#container #phlog-list li:hover .meta-link {
  background-color: #333333;
  color: #FFF;
}
/* line 545, ../../app/stylesheets/screen.scss */
#container #year-nav {
  background-color: #333333;
  overflow: hidden;
  *zoom: 1;
  padding-left: 10px;
}
/* line 550, ../../app/stylesheets/screen.scss */
#container #year-nav li {
  display: inline;
  float: left;
  font-weight: 900;
  padding: 4px 15px;
  position: relative;
}
/* line 556, ../../app/stylesheets/screen.scss */
#container #year-nav li a {
  color: #999999;
}
/* line 562, ../../app/stylesheets/screen.scss */
#container #year-nav li.active a {
  color: #FFF;
}
/* line 572, ../../app/stylesheets/screen.scss */
#container #year-nav:last-child li {
  padding-top: 6px;
}
/* line 580, ../../app/stylesheets/screen.scss */
#container #month-nav-holder {
  position: relative;
  margin-bottom: 30px;
}
/* line 584, ../../app/stylesheets/screen.scss */
#container #month-nav-holder .month-nav {
  background-color: #dddddd;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
/* line 591, ../../app/stylesheets/screen.scss */
#container #month-nav-holder .month-nav.active {
  display: block;
}
/* line 595, ../../app/stylesheets/screen.scss */
#container #month-nav-holder .month-nav li {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  padding: 4px 10px;
  color: #aaaaaa;
}
/* line 7, ../../../../../../.rvm/gems/ruby-1.9.2-p290@moxie/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
#container #month-nav-holder .month-nav li {
  *display: inline;
}
/* line 600, ../../app/stylesheets/screen.scss */
#container #month-nav-holder .month-nav li:first-child {
  padding-left: 25px;
}
/* line 606, ../../app/stylesheets/screen.scss */
#container #month-nav-holder .month-nav li.active a {
  color: #333333;
}
/* line 618, ../../app/stylesheets/screen.scss */
#container #post-nav {
  overflow: hidden;
  *zoom: 1;
  padding: 10px 20px;
}
/* line 622, ../../app/stylesheets/screen.scss */
#container #post-nav a {
  display: block;
  color: #aaaaaa;
}
/* line 626, ../../app/stylesheets/screen.scss */
#container #post-nav a:hover {
  color: #333333;
}
/* line 630, ../../app/stylesheets/screen.scss */
#container #post-nav a.prev-post-link {
  display: inline;
  float: left;
}
/* line 634, ../../app/stylesheets/screen.scss */
#container #post-nav a.next-post-link {
  display: inline;
  float: right;
}

/*
@media screen and (max-width: 700px) {
  body {
    display: none;
  }
}
*/
