$red: #DC0000;
$black: #333;
$gray: #AAA;
$light-gray: #DDD;
$container-width: 700px;
$base-font-size: 16px;
$base-line-height: 24px;
$headline-font: 'Paytone One', sans-serif;
$sans-serif: "Helvetica Neue", Helvetica, Arial, sans-serif;

@include establish-baseline;

@mixin container($width: $container-width, $center: true) {
  @if $center == true {
    margin: 0 auto;
  } @else {
    margin: 0;
  }
  width: $width;
}