/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass";
@import "compass/reset";
@import "variables";

html,body {
  color: $black;
  font-family: $sans-serif;
  background-color: $gray;
  
  h1,h2,h3,h4,h5,h6 {
    font-family: $headline-font;
    text-transform: uppercase;
  }
  
  a {
    text-decoration: none;
    color: $red;
  }
  
}

header {
  @include container($container-width);

  h1 {
    font-size: 170px;
    line-height: 170px;
    padding-bottom: 29px;
    text-align: center;
    @include text-shadow(
      $light-gray 1px 1px 0,
      $light-gray 2px 2px 0,
      $light-gray 3px 3px 0,
      $light-gray 4px 4px 0,
      $light-gray 5px 5px 0,
      $light-gray 6px 6px 0,
      $light-gray 7px 7px 0,
      $light-gray 8px 8px 0);
    letter-spacing: 22px;
    @include transition-property;
    @include transition-duration(0.5s);
    @include transition-timing-function("ease-in-out");
    
    a {
      color: $black;
      display: block;
      width: 100%;
      text-decoration: none;
      background-color: transparent;
    }
    
    &:hover {
      @include text-shadow(
        $red 1px 1px 0,
        $red 2px 2px 0,
        $red 3px 3px 0,
        $red 4px 4px 0,
        $red 5px 5px 0,
        $red 6px 6px 0,
        $red 7px 7px 0,
        $red 8px 8px 0);
      letter-spacing: 12px;
      @include transition-property;
      @include transition-duration(0.5s);
      @include transition-timing-function("ease-in-out");      
    }
    
  }
  
}

#container {
  @include container;
  @include border-radius(2px,2px);
  background-color: #FFF;
  margin-bottom: 25px;
  
  .content {
    padding: 25px;    
  }
  
  .post {
    
    .sidebar {
      font-size: 14px;
      color: lighten($black,25%);
      text-align: right;
      
      p {
        margin-top: 25px;
        
        &:first-child {
          margin-top: 0;
        }
        
        strong {
          display: block;
          font-weight: 900;
        }
        
        em {
          font-size: 13px;
        }
        
      }
      
    }
    
    .content {
      padding-bottom: 35px;
      
      h1 {
        font-size: 40px;
        line-height: 45px;
        margin-top: -5px;
        width: 80%;
        @include text-shadow(
          $light-gray 1px 1px 0,
          $light-gray 2px 2px 0,
          $light-gray 3px 3px 0);
      }
      
    }
    
  }
  
  .comments {
    background-color: $light-gray;
    
    h3 {
      background-color: $black;
      color: #FFF;
      padding: 10px 20px;
      font-size: 20px;
    }
    
    .comment {
      border-top: 1px solid darken($light-gray,10%);
      
      &:hover {
        background-color: lighten($light-gray,5%);
      }
      
      &.moderator {
        border-left: 4px solid $red;
      }
      
      .sidebar {
        color: #666;
        text-align: right;
        
        strong {
          font-weight: 900;
          color: #444;
          display: block;
          font-size: 14px;
        }
        
        em {
          font-size: 12px;
        }
        
      }
            
    }
    
  }
  
  .content-sidebar {
    @include clearfix;
    
    .sidebar {
      @include float(left);
      width: 150px;
      padding: 25px;
    }

    .content {
      @include float(left);
      width: 445px;
      
      p {
        margin-top: 25px;
        
        &:first-child {
          margin-top: 0;
        }
        
      }
      
      img {
        border: 1px solid $light-gray;
        padding: 10px;
        margin-top: 25px;
        
        &:first-child {
          margin-top: 0;
        }
        
      }
      
    }
    
  }
  
}