@import "compass";
@import "compass/reset";
@import "variables";

html,body {
  color: $black;
  font-family: $sans-serif;
  background-color: $gray;
  
  h1,h2,h3,h4,h5,h6 {
    font-family: $headline-font;
    text-transform: uppercase;
  }
  
  a {
    text-decoration: none;
    color: $red;
    
    &.broken {
      color: lighten($red, 20%);
      border-bottom: 1px dotted lighten($red, 40%);
    }
    
  }
  
  b {
    font-weight: 900;
  }
  
  i {
    font-style: italic;
  }
    
}

header {
  @include container($container-width);
  position: fixed;
  left: 50%;
  margin-left: ($container-width/2)*-1;
  z-index: 1;

  h1 {
    font-size: 170px;
    line-height: 170px;
    padding-bottom: 29px;
    text-align: center;
    @include text-shadow(
      $light-gray 1px 1px 0,
      $light-gray 2px 2px 0,
      $light-gray 3px 3px 0,
      $light-gray 4px 4px 0,
      $light-gray 5px 5px 0,
      $light-gray 6px 6px 0,
      $light-gray 7px 7px 0,
      $light-gray 8px 8px 0);
    letter-spacing: 22px;
    @include transition-property;
    @include transition-duration(0.5s);
    @include transition-timing-function("ease-in-out");
    
    a {
      color: $black;
      display: block;
      width: 100%;
      text-decoration: none;
      background-color: transparent;
    }
    
    &:hover {
      @include text-shadow(
        $red 1px 1px 0,
        $red 2px 2px 0,
        $red 3px 3px 0,
        $red 4px 4px 0,
        $red 5px 5px 0,
        $red 6px 6px 0,
        $red 7px 7px 0,
        $red 8px 8px 0);
      letter-spacing: 12px;
      @include transition-property;
      @include transition-duration(0.5s);
      @include transition-timing-function("ease-in-out");      
    }
    
  }
  
  nav {
    font-family: $headline-font;
    text-transform: uppercase;
    text-align: right;
    padding-right: 25px;
    
    a {
      @include inline-block;
      padding: 7px 10px 6px;
      margin: 0 5px;
      color: $black;
      
      &:hover {
        color: #FFF;
        background-color: $black;
        @include border-top-radius(2px);
      }
      
    }
    
  }
  
}

#posts-body #posts-nav,
#categories-body #posts-nav,
#phlogs-body #phlogs-nav,
#guestbooks-body #guestbook-nav,
#episodes-body #episode-nav {
  color: #FFF;
  background-color: $black;
  @include border-top-radius(2px);
}

#container {
  @include container;
  @include border-radius(2px,2px);
  background-color: #FFF;
  border: 3px solid $black;
  border-width: 3px 0;
  position: relative;
  z-index: 2;
  top: 235px;
  margin-bottom: 260px;
  
  .content {
    padding: 25px;
    
    h1 {
      font-size: 40px;
      line-height: 45px;
      margin: 25px 0;
      @include text-shadow(
        $light-gray 1px 1px 0,
        $light-gray 2px 2px 0,
        $light-gray 3px 3px 0);
      
      &:first-child {
        margin-top: 0;
      }
      
    }
    
    p {
      margin-top: 25px;
      
      &:first-child {
        margin-top: 0;
      }
      
    }
    
    ul {
      list-style-type: disc;
    }

    ol {
      list-style-type: decimal;
    }

    ul, ol {
      margin-left: 25px;
      
      li {
        
      }
      
    }
    
    &.solo {
      
      h1 {
        margin: 0;
      }
      
    }
    
    &.no-bottom {
      padding-bottom: 0;
    }
    
    .moxie-tv-row {
      @include clearfix;
      margin-bottom: 25px;
      
      .episode {
        @include float(left);
        width: 313px;
        height: 212px;
        position: relative;
        overflow: hidden;
        
        img {
          width: 313px;
        }
        
        &:first-child {
          margin-right: 24px;
        }
        
        h4 {
          position: absolute;
          top: 0;
          left: 0;
          background-color: rgba(#000,0.75);
          width: 313px;
          height: 212px;
          
          span {
            display: block;
            font-size: 30px;
            line-height: 35px;
            color: #FFF;
            padding: 25px;            
          }
          
          small {
            display: block;
            color: #AAA;
            font-weight: 400;
            padding: 0 25px;
            margin-top: -25px;
          }
          
        }
        
        &:hover {
          
          h4 {
            display: none;
          }
          
        }
        
      }
      
    }
    
  }
  
  .post {
    
    .sidebar {
      font-size: 14px;
      color: lighten($black,25%);
      text-align: right;
      
      p {
        margin-top: 25px;
        
        &:first-child {
          margin-top: 0;
        }
        
        strong {
          display: block;
          color: $black;
          font-weight: 900;
        }
        
        em {
          font-size: 13px;
        }
        
      }
      
      .credits {
        margin-top: 15px;

        li {
          margin: 15px 0;
          color: lighten($black,20%);

          b {
            color: $black;
            display: block;
            width: 100%;
            font-weight: 900;
          }

        }

      }
      
    }
    
    .content {
      padding-bottom: 35px;
      
      h1 {
        width: 80%;
      }
      
    }
    
  }
  
  .comments {
    background-color: $light-gray;
    
    h3 {
      background-color: $black;
      color: #FFF;
      padding: 10px 20px;
      font-size: 20px;
    }
    
    .comment {
      border-top: 1px solid darken($light-gray,10%);
      
      &:hover {
        background-color: lighten($light-gray,5%);
      }
      
      &.moderator {
        border-left: 4px solid $red;
      }
      
      .sidebar {
        color: #666;
        text-align: right;
        
        strong {
          font-weight: 900;
          color: #444;
          display: block;
          font-size: 14px;
        }
        
        em {
          font-size: 12px;
        }
        
      }
            
    }
    
  }
  
  .content-sidebar {
    @include clearfix;
    
    .sidebar {
      @include float(left);
      width: 150px;
      padding: 25px;      
    }

    .content {
      @include float(left);
      width: 445px;
      
      img {
        border: 1px solid $light-gray;
        padding: 10px;
        
        &:first-child {
          margin-top: 0;
        }
        
      }
      
      h1 {
        margin-top: -5px;
      }
      
    }
    
    &.post-index {
      
      .sidebar {
        text-align: right;
        
        strong {
          font-weight: 900;
          display: block;
        }
        
        em {
          font-size: 14px;
          color: darken($gray,10%);
          display: block;
        }
        
      }
      
      .content {
        padding-bottom: 13px;
        
        h4 {
          color: $gray;
        }
        
        ul {
          list-style-type: none;
          margin-left: 0;
          
          li {
            margin: 12px 0;
            @include clearfix;
            
            &:first-child {
             margin-top: 0; 
            }
            
            span {
              display: block;
              @include float(left);
              background-color: $light-gray;
              font-size: 15px;
              line-height: 15px;
              padding: 6px 5px;
              @include border-radius(2px,2px);
            }
            
            a {
              @include float(right);
              width: 410px;
              font-size: 18px;
              line-height: 24px;
              padding-top: 2px;              
            }
            
          }
        }
        
      }
      
      &:nth-child(2n) {
        background-color: lighten($light-gray,10%);
      }
      
    }
    
    &.phlog-index {
      
      .sidebar {
        padding-top: 15px;
        padding-bottom: 15px;
        
        img {
          border: 1px solid $light-gray;
        }
        
      }
      
      .content {
        padding-top: 15px;
        padding-bottom: 15px;
        
        h3 {
          font-size: 20px;
        }
        
        em {
          font-size: 14px;
          color: lighten($black,20%);
        }
        
      }
      
      &:nth-child(2n) {
        background-color: lighten($light-gray,10%);
      }
      
    }
    
  }
  
  #phlog-list {
    margin-top: 25px;
    
    li {
      @include clearfix;
      height: 58px;
      overflow: hidden;
      margin: 10px 0;
      
      .image-link {
        @include float(left);
        width: 180px;
        overflow: hidden;
        
        img {
          width: 200px;
          margin-left: -15px;
        }
        
      }
      
      .meta-link {
        @include float(left);
        background-color: $light-gray;
        height: 58px;
        padding: 7px 18px 7px 13px;
        
        strong {
          font-weight: 900;
          display: block;
        }
        
        em {
          display: block;
          color: lighten($black,30%);
          font-size: 12px;
          margin-top: -2px;
        }
        
      }
      
      &:hover {
        
        .meta-link {
          background-color: $black;
          color: #FFF;
        }
        
      }
      
    }
    
  }
  
  #year-nav {
    background-color: $black;
    @include clearfix;
    padding-left: 10px;
    
    li {
      @include float(left);
      font-weight: 900;
      padding: 4px 15px;
      position: relative;
      
      a {
        color: darken(#FFF,40%);
      }
      
      &.active {
        
        a{
          color: #FFF;
        }
        
      }
      
    }
    
    &:last-child {
      
      li {
        padding-top: 6px;
      }
      
    }
    
  }
  
  #month-nav-holder {
    position: relative;
    margin-bottom: 30px;
    
    .month-nav {
      background-color: $light-gray;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      
      &.active {
        display: block;
      }
      
      li {
        @include inline-block;
        padding: 4px 10px;
        color: $gray;
        
        &:first-child {
         padding-left: 25px; 
        }
        
        &.active {
          
          a {
            color: $black;
          }
          
        }
        
      }
      
    }
    
  }
  
  #post-nav {    
    @include clearfix;
    padding: 10px 20px;
    
    a {
      display: block;
      color: $gray;
      
      &:hover {
        color: $black;
      }
      
      &.prev-post-link {
        @include float(left);
      }
      
      &.next-post-link {
        @include float(right);
      }
      
    }
    
  }
  
}
