<div class="content">
  <h1>The Moxie Blog Archive</h1>
  <p>This site is a mirror of the original Moxie Blog, the official blog for Moxie Cinema, which ran from May 2004 to August 2010, under the original ownership. The blog continued after the Moxie was sold in the Summer of 2010, but </p>
  <h1>Short History of the Blog</h1>
  <p>The Moxie Blog originally started as a Blogger blog called Cinema 24 on May 24, 2004. As the time, The Moxie was </p>
</div>