<ul id="year-nav">
  <% @years.each do |year| %>
    <% my_class = @current_year.to_i === year ? "active" : "not-active" %>
    <li class="<%= my_class %>"><%= link_to year, "/posts/date/#{year}" %></li>
  <% end %>
</ul>

<% if show_months %>
  <div id="month-nav-holder">
    <ul class="month-nav">
      <% (1..12).each do |month| %>
        <% month_class = @current_month.to_i === month ? "active" : "not-active" %>
        <%= content_tag :li, post_month_linker(@current_year.to_i,month), :class => month_class %>
      <% end %>
    </ul>
  </div>
<% end %>