<ul id="year-nav">
<% @years.each do |year| %>
  <li class="year <%= "active" if params[:year].to_i === year || (!params[:year] && year == @years.first) %>">
    <h2><%= year %></h2>
    <ul>
    <% (1..12).each do |month| %>
      <li><%= post_month_linker(year,month) %></li>
    <% end %>
    </ul>
  </li>
<% end %>
</ul>