<ul id="year-nav">
  <% @years.each do |year| %>
    <% my_class = @current_year.to_i === year ? "active" : "not-active" %>
    <li class="<%= my_class %>"><%= link_to year, "/posts/date/#{year}" %></li>
  <% end %>
</ul>