<ul id="year-nav">
  <% @years.each do |year| %>
    <% my_class = @current_year.to_i === year ? "active" : "not-active" %>
    <li class="<%= my_class %>"><%= link_to year, "/posts/date/#{year}" %></li>
  <% end %>
</ul>

<% if show_months %>
  <div id="month-nav-holder">
    <% @years.each do |year| %>
      <% year_class = @current_year.to_i === year ? "active" : "not-active" %>
      <ul class="month-nav <%= year_class %>">
        <% (1..12).each do |month| %>
          <% month_class = @current_month.to_i === month && @current_year.to_i === year ? "active" : "not-active" %>
          <%= content_tag :li, post_month_linker(year,month), :class => month_class %>
        <% end %>
      </ul>
    <% end %>
  </div>
<% end %>