<div class="content">
  
  <% cache "year_nav" do %>
    <%= render "year_nav" %>
  <% end %>
  
  <h1>Listing posts</h1>
  
</div>

<% cache "year_list" do %>
  <% (1..12).each do |month| %>
    <div class="content-sidebar">
      <div class="sidebar">
        Month #<%= month %>
      </div>
      <div class="content">
        <% if Post.posts_by_month(@current_year,month).size > 0 %>
          <ul>
            <% Post.posts_by_month(@current_year,month).each do |post| %>
              <li><%= link_to post.title, post %></li>
            <% end %>
          </ul>
        <% else %>
          <h4>No Posts for this month</h4>
        <% end %>
      </div>
    </div>
  <% end %>
<%end%>